html {
  font-size: 62.5%;
}
body {
  font-family: "Futura", "Arial", sans-serif;
  background-color: #fff9db;
}
.recipe {
  list-style: none;
  font-size: 2.027rem;
}
.cooking {
  margin-left: 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: center;
  color: #444;
}
a:link,
a:visited {
  color: #e67700;
}
a:hover,
a:focus {
  color: #e67700;
  background-color: #000;
  border-radius: 0.5rem;
}
.img {
  border-radius: 1rem;
}
.recipes {
  font-size: 2.88rem;
  font-weight: 700;
  font-family: "Times New Roman", Times, serif;
}
